/**
 *
 * @authors Ted Shiu (tedshd@gmail.com)
 * @date    2014-09-19 00:32:22
 * @version $Id$
 */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/slide_menu.scss */
.push-open {
  overflow: hidden;
}
/* line 14, ../sass/slide_menu.scss */
.push-open #push-open-layer {
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/* line 24, ../sass/slide_menu.scss */
#slide-menu, #slide-container {
  position: absolute;
}

/* line 28, ../sass/slide_menu.scss */
#slide-menu, #slide-container, .head {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

/* line 35, ../sass/slide_menu.scss */
#slide-menu {
  z-index: 1000;
  position: fixed;
  width: 300px;
  height: 100%;
  right: 0;
  background: rgba(128, 128, 255, 0.8);
  overflow: auto;
}

/* line 45, ../sass/slide_menu.scss */
#slide-container {
  background: #666;
  width: 100%;
  min-height: 100%;
  right: 0;
}

/* line 51, ../sass/slide_menu.scss */
#slide-menu-bg, #slide-container-bg {
  position: relative;
}

/* line 54, ../sass/slide_menu.scss */
#slide-menu.slide-menu-close {
  right: -300px;
}

/* line 59, ../sass/slide_menu.scss */
.slide-push #slide-container.slide-menu-open {
  right: 300px;
}

/* --menu ico-- */
/* line 65, ../sass/slide_menu.scss */
.menu-ico {
  float: right;
  width: 30px;
  height: 30px;
  margin: 10px;
}
/* line 70, ../sass/slide_menu.scss */
.menu-ico div {
  width: 30px;
  border-top: solid 5px #fff;
  margin-bottom: 5px;
  -ms-transform: scale(1) rotate(0) translate(0, 0);
  -moz-transform:  scale(1, 1) rotateZ(0) translate(0, 0) skew(0, 0);
  -ms-transform:  scale(1, 1) rotateZ(0) translate(0, 0) skew(0, 0);
  -webkit-transform:  scale(1, 1) rotateZ(0) translate(0, 0) skew(0, 0);
  transform:  scale(1, 1) rotateZ(0) translate(0, 0) skew(0, 0);
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

/* line 82, ../sass/slide_menu.scss */
.menu-ico-x .line-top {
  -ms-transform: scale(1) rotate(-45deg) translate(-16px, 18px);
  -moz-transform:  scale(1, 1) rotateZ(-45deg) translate(-16px, 18px) skew(0, 0);
  -ms-transform:  scale(1, 1) rotateZ(-45deg) translate(-16px, 18px) skew(0, 0);
  -webkit-transform:  scale(1, 1) rotateZ(-45deg) translate(-16px, 18px) skew(0, 0);
  transform:  scale(1, 1) rotateZ(-45deg) translate(-16px, 18px) skew(0, 0);
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
/* line 86, ../sass/slide_menu.scss */
.menu-ico-x .line-md {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 89, ../sass/slide_menu.scss */
.menu-ico-x .line-bottom {
  -ms-transform: scale(1) rotate(45deg) translate(-8px, -16px);
  -moz-transform:  scale(1, 1) rotateZ(45deg) translate(-8px, -16px) skew(0, 0);
  -ms-transform:  scale(1, 1) rotateZ(45deg) translate(-8px, -16px) skew(0, 0);
  -webkit-transform:  scale(1, 1) rotateZ(45deg) translate(-8px, -16px) skew(0, 0);
  transform:  scale(1, 1) rotateZ(45deg) translate(-8px, -16px) skew(0, 0);
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

/* ---- */
/* line 97, ../sass/slide_menu.scss */
.slide-menu-open .head {
  right: 300px;
}

/* line 101, ../sass/slide_menu.scss */
.head {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 50px;
  background: rgba(0, 128, 0, 0.5);
}
